/* ==UserStyle==
@name           横浜市立図書館蔵書検索ページ
@namespace      https://w0s.jp/
@version        1.3.0
@author         SaekiTominaga
==/UserStyle== */
@-moz-document domain("opac.lib.city.yokohama.lg.jp") {
	body > script {
		/* ヘッダー上部の UD ボタンエリアを消す https://aspud.daimojin.com/ud5asp/ud_dai5c/help/help.html */
		:is(&, & + script) {
			& + style {
				& + .accordion {
					display: none;
				}
			}
		}
	}

	#box-utility {
		/* ログイン状態での無駄なマージンを除去 */
		& .list-linear:not(:has(li)) {
			& + .list-linear {
				margin-top: 0;
			}
		}

		/* ログインリンクの枠線内の空き部分をクリッカブルにする */
		&:has(.list-linear:only-child) {
			padding: 0;

			& .list-linear:only-child {
				& a {
					display: block flow;
					padding: 10px;
				}
			}
		}
	}

	/* 見出しの余白を狭める */
	#hdg-site {
		padding-block-start: 17px;
	}

	#nav-global {
		/* 言語選択プルダウンを消す */
		& + select {
			display: none;
		}

		/* 不要なグローバルナビを消す */
		& > ul > li:has(a:not([href^="/"])) {
			display: none;
		}
	}

	#nav-guide {
		/* フリーワード検索エリアを消す */
		display: none;
	}
}
