/* ブラウザの配色設定を変えても本文文字が読めるように */
body {
	background: #fff;
}

/* 出品タイトルを検索しやすくする */
#AS1m3 div.inner div.bd div.a h3 {
	height: auto;
}

#AS1m3 div.inner div.bd div.a h3 a {
	-webkit-line-clamp: none;
}
